body{
	background: linear-gradient(#152348, #1F1F1F);
	height: 100vh;
}
.a h1{
	font-family: sans-serif;
	color: #C3BFBF;
	text-align: center;
	scroll-padding-top: 80px;
	font-size: 64px;
}
h1{color:whitesmoke ;
	font-size: 30ph;
	text-align: center;
	font-family: sans-serif;



}

h2{
	text-align: center;
	font-family: sans-serif;
}

.displey{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;

	padding: 120px;
	padding-inline: 120px;

}

.name-columns{
	color: whitesmoke;
}
.vol-btns button{
	width: 100%;
	padding-block: 50px;
	border: 3px solid skyblue;
	background-color: #101B54;
	font-size: 30px;
	color: whitesmoke;
	border-radius: 30px;
}

.vol-btns{
	
}

.col-input input{
	text-align: center;
	padding-block: 50px;
	border: 3px solid skyblue;
	background-color: #101B54;
	color: whitesmoke;
	font-size: 30px;
	border-radius: 30px;
	width: 100%;
	box-sizing: border-box;
}

.col-input{
	
}

.vol-up-txt h1{
	background-color:#FFCACA;
	border-radius: 30px;
	border:3px solid #EA0000;
	color: #EA0000;
	padding-block: 50px;
	margin: 0px;

}

.vol-down-txt h1{
	background-color:#D4FFE1;
	border-radius: 30px;
	border:3px solid #2AC82A;
	color: #2AC82A;
	padding-block: 50px;
	margin: 0px;


}

.vol-up-txt{
	margin: 0px;
	width: 100%;
}

.vol-down-txt{
	margin: 0px;
	width: 100%;
}


